@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap);

/* GLOBAL STYLE */
.err {
    width: 10rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-utama {
    background-color: #2c2c5f;
}

.navbar-toggler {
    border: 0;
}

.dropdown-item:active {
    background-color: transparent;
    color: inherit;
}

#searchbox {
    width: 100%;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c2c5f;
    font-weight: 600;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    color: #2c2c5f;
    text-decoration: none;
    font-weight: 600;
}

h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover {
    color: #706fd3;
    text-decoration: none;
    font-weight: 600;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
    color: #fff;
}


.circle-img {
    height: 3rem;
    width: 3rem;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.c-author {
    font-weight: 600;
}

.c-calendar {
    font-weight: 200;
}

.bookmark {
    font-size: 2rem;
}

.bookmark>a,
.text-muted-super {
    color: rgba(0, 0, 0, 0.25) !important;
}

a.kategori {
    display: inline-block;
    border-radius: .75em;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: rgba(0, 0, 0, 0.5);
    font-size: .75em;
    font-weight: 600;
    padding: .187em .375em;
}

a.kategori:hover {
    background-color: rgba(0, 0, 0, 0.25) !important;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.card-column {
    column-count: 1;
}

@media only screen and (min-width:768px) {
    .card-column {
        column-count: 2;
    }

    .error-logo {
        font-size: 3em;
    }
}

@media only screen and (min-width:992px) {
    .card-column {
        column-count: 3;
    }

    .error-logo {
        font-size: 4em;
    }
}

.card {
    display: inline-block;
    margin-bottom: 1rem;
}

.team {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width:992px) {
    .team {
        width: 10rem;
        height: 10rem;
        background-position: center;
        background-size: cover;
    }
}


.jabatan {
    font-weight: 600;
}

footer {
    background-color: #2d4059;
    color: white;
    text-align: center;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.goTop-container {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 900;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}


.breadcrumb {
    background-color: transparent;
    font-size: .8rem;
    padding-left: 0;
    margin-bottom: .5rem;
}

article {
    margin-bottom: 3rem;
}

.isi-konten blockquote {
    font-weight: 300;
    padding-left: 1rem;
    border-left: #2d4059 solid .25rem;
}

@media only print {
    .isi-konten blockquote {
        padding-left: 0;
        font-style: italic;
        border: none;
    }
}

.isi-konten blockquote cite {
    font-size: 1rem;
    display: block;
    text-align: right;
}

.isi-konten blockquote cite::before {
    content: "—   ";
}

.isi-konten img {
    margin: 1rem 0;
    width: 100%;
}

article .container {
    padding-left: 0;
}

article h2 {
    margin: 2rem 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.point {
    font-size: 1.2rem;
    font-weight: 600;
}

.isi-konten {
    line-height: 2;
    font-size: 1rem;
    text-align: justify;
}

.komentar-box {
    border: none;
    resize: none;
}

.komentar {
    cursor: text;
}

.pic-komentar {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
}


.daftar {
    width: 100%;
    top: 20%;
    position: fixed;
    color: rgba(0, 0, 0, 0.5);
    max-width: 10rem;
    text-align: left;
}

.daftar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.daftar ul li {
    display: block;
    border-radius: .1rem;
    margin: .15rem 0;
}

.daftar ul li:hover {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.share-bar a {
    text-align: right;
    font-size: 1.5em;
    color: #2c2c5f;
}

.cover-error {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    align-items: center;
    opacity: 1;
    background: #2c2c5f;
    border-radius: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.error-message h1 {
    color: #fff;
}

/* LOADING OVERLAY */

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    opacity: 1;
    background: #fff;
    border-radius: 4px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.cover-noscript {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    opacity: 1;
    background: #fff;
    border-radius: 4px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.noscroll {
    /* BODY OVERLAY */
    overflow: hidden;
}

.d-print-img {
    width: 5rem;
}

/* END OF GLOBAL */
/* ============================================ */
/* MAIN PAGE ONLY  */

.flat {
    background-color: #2c2c5f;
    color: white;
}

.bq-awal {
    font-size: 2rem;
}


@media only screen and (min-width:768px) {
    .bq-awal {
        font-size: 2.5rem;
    }
}


.sec2 {
    background-color: #22709f;
}

.btn-topik {
    height: 5rem;
    font-size: 1.2rem;
    font-weight: 200;
}

.img-topik {
    width: 2.5rem;
}

.text-vertical-center {
    vertical-align: middle;
    line-height: 3rem;
}